<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.selfintroapp.mapper.SelfintroAppMapper">
  <select id="findAll" resultType="com.example.selfintroapp.domain.Appdata">
  SELECT
      id
    , year
    , month
    , age
    , profession
    , description
    , remarks
  FROM
    selfintroapp
  </select>
  
    <select id="findOne" resultType="com.example.selfintroapp.domain.Appdata">
    SELECT
        id
      , year
      , month
      , age
      , profession
      , description
      , remarks
    FROM
      selfintroapp
    WHERE
      id = #{id}
  </select>
  
  
  </mapper>